.h1{
    font-size: 30px;
}
.h2{
    font-size: 20px;
}
.h3{
    font-size: 18px;
}
.h4{
    font-size: 14px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f25{
    font-size: 25px;
}
.f28{
    font-size: 28px;
}
.flex{
    display: flex;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}

.block{
    display: block;
}
.p{
    font-size: 14px;
}
.bold{
    font-weight: bold;
}
img{
    width: 100%;
}
.hide{
    display: none;
}
.padding30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.ccc{
    color: #6d6d6d;
}
.blue{
    color:#497af8;
    font-weight: bold;
    border-bottom-color: #497af8 !important;
}
.tit{
    color: #5f5f5f;
    font-weight: 700;
    line-height: 2;
}
.stit{
    font-size: 25px;
    font-weight: 700;
    line-height: 2.25rem;
    word-break: keep-all;
}
.black{
    color: #5d6e80;
}
.gray{
    color: #888;
}
.blue{
    color: #2e7af6;
    font-weight: bold;
    border-bottom-color: #2e7af6 !important;
}
.gbt{
    border: 1px solid black;
    color: white;
    background-color: black;
    height: 50px;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%
}
.ggt{
    text-align: center;
    line-height: 2;
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 16px;
    /*! height: 177px; */
    font-weight: bold;
    text-align: center;
    padding: 45px 0 60px;
}
.selb{
  border: 1px solid #ccc;
  background-color: #fbfbfd;
  height: 50px;
  width: 212px;
  text-align: center;
  color: #0084ff;
  font-weight: bold;
  font-size: 16px;
  border-radius:5px;
}