html,body{
  height: 100%;
}
*{ /*모든 태그들*/
 margin: 0;
 padding: 0;
 line-height: 1;
  
 box-sizing: border-box;
}
h1,h2,h3,h3,h5,h6{
  font-size: 100%; /* 100%는 16px */
  font-weight: normal;
}
a{
  text-decoration: none; /* 밑줄없애기 */
  color: black; 
}
ul{
  list-style: none;/* ul의 점표시 없애기*/
}